ServerSignature Off

Options +FollowSymLinks


<Files ~ "^.*\.([Hh][Tt][AaPp])">

order allow,deny

deny from all

satisfy all

</Files>


RewriteEngine Off

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d


